<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
	    <h3>Crime em SP</h3>
    </div>
  </div>
</nav>

<div style="text-align:center">
  <h1>
    Grau de criminalidade em SP
  </h1>
</div>

<div class="jumbotron jumbotron-muted">
<div class="container">
<div class="col-lg-6">
<h2>Insira o CEP</h2>
<p class="lead">Descubra qual o grau de criminalidade em determinada região e evite situações desagradáveis!</p>
<div class="input-group">
<input type="text" class="form-control" placeholder="Seu CEP">
<span class="input-group-btn">
<button class="btn btn-info" type="button">Pesquisar</button>
</span>
</div>
</div>

<div class="col-lg-6">
<img class="img-responsive" src="https://cloud.google.com/images/maps-platform/complementary_routes8.png?hl=pt-BR"/>
</div>
</div>
</div>

<footer class="page-footer">
	<div class="footer-copyright text-center">
		<h4>Tópicos Especiais de Bancos de Dados, 2018</h4>
	</div>
</footer>
