<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
	    <h3>Crime em SP</h3>
    </div>
  </div>
</nav>

<div class="text-center">
  <h1>
    Grau de criminalidade em SP
  </h1>
</div>

<div class="jumbotron jumbotron-muted">
  <div class="container">

    <div class="col-lg-6">
      <h2>Insira seu Endereço</h2>
      <p class="lead">Descubra qual o grau de criminalidade em determinada região e evite situações desagradáveis!</p>
      <div class="input-group">
        <input required [(ngModel)]="endereco" name="name" type="text" class="form-control" placeholder="Rua, Cidade, Estado">
        <span class="input-group-btn">
          <button class="btn btn-info" type="button" (click)="sendAdress()" >Pesquisar</button>
      </span>
      </div>
      <div class="mt-2" *ngIf="show">
        <h3>Risco estimado: <span style="background-color: red; color:aliceblue; font-weight: bold;">{{risk[0].risco}}</span> </h3>
        <table class="table ">
          <thead>
            <tr>
              <th scope="col">Risco Baixo</th>
              <th scope="col">Risco Médio</th>
              <th scope="col">Risco Alto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">0-100</th>
              <td>201-400</td>
              <td>401+</td>
            </tr>
          </tbody>
        </table>
    </div>
    </div>
    <div class="col-lg-6">
      <!-- <img class="img-responsive" src="https://cloud.google.com/images/maps-platform/complementary_routes8.png?hl=pt-BR"/> -->
      <div #gmap style="width:100%;height:400px"></div>
    </div>

  </div>
</div >

<footer class="page-footer">
	<div class="footer-copyright text-center">
		<h4>Tópicos Especiais de Bancos de Dados, 2018</h4>
	</div>
</footer>
''